*{
    margin:0;
    padding:0;
}
body {
    margin: 60px auto;
    width: 70%;
    background-color: black; 
    color: white; 
    font-family: 'Poppins', sans-serif;
}
.main{
    position: relative;
    top:200px; left:280px;
    height: 500px;
    width:900px;
}
a{
    text-decoration:none;
    color: rgb(90, 243, 128);
}
.name{
    color: rgb(90, 243, 128);
    font-size: 60px;
}
.nav-list{
    position: absolute;
    top: 190px;
    right:20px;
    list-style: none;
}

.nav-item{
    position: relative;
    perspective: 1000px;
    margin-bottom: 1px;
    height:60px;
    width: 60px;
    border-radius: 50%;
    background-color:rgb(34, 31, 31);
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    margin-top: 22px;
    z-index: 1;
}
.nav-item .me{
    font-size: 1.4em;
}

.nav-lable{
    display: inline-block;
    position: absolute;
    height:60px;
    width:150px;
    background-color: rgb(90, 243, 128);
    border-radius: 50px;
    text-align: left;
    padding-left:30px;
    line-height: 62px;
    vertical-align: middle;
    margin-top: -61px;
    right:0px;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.lists{
    list-style:none;
}
.nav-item:hover{
    cursor:pointer;
    background-color: rgb(90, 243, 128);
  }

.lists:hover .nav-lable{
    cursor:pointer;
    visibility: visible;
    opacity:1;
    animation-name: swing;
    animation-duration: .7s;
    animation-timing-function: ease; 
  }
.lists:hover a{
      color:black;
}
.lists:hover .nav-item{
      background-color:rgb(90, 243, 128);
}
@keyframes swing {
    0% {
        transform: rotateY(-90deg);
    }
    30% {
        transform: rotateY(35deg);
    }
    65% {
        transform: rotateY(-10deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.circle{
    position:absolute;
    top:-50px; left:-100px;
    background: url("https://avatars1.githubusercontent.com/u/51477095?s=460&u=ce091423c86ed22a9ef6ffdb3161c4d1e600311b&v=4");
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border:rgb(90, 243, 128) solid 3px;
    z-index:100;
    overflow: hidden;
}
.shadow{
    position:absolute;
    top:-70px; left:-120px;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: rgb(34, 31, 31);
}
.landt{
    list-style: none;
}
.landt li{
    float: left;
}
.landt li img{
    width:30px;
    margin-right:20px;
}
.git{
    margin-top:10px;
    margin-left: 60px;
    height:40px;
    width:140px;
    border-radius: 20px;
    background-color: black;
    line-height: 40px;
}
.git p{
    margin-left:13px;
}
footer{
    position: absolute;
    bottom:0; left:0;
    height:60px;
    width:100%;
    margin-left: -8px;
    background-color:rgb(34, 31, 31);
}
.follow{
    position: absolute;
    right:10px;
    top:15px;
}
.follow li{
    list-style:none;
    float: left;
    margin-right:40px;
}
.follow .me2{
    font-size: 1.2em; 
}

/*@media only screen and (device-width : 360px) 
                   and (device-height : 720px) 
                   and (-webkit-device-pixel-ratio : 3) */
@media only screen and (max-width: 481px)    {
    body {
      background-color:white;
      color:black;
    }
    .nav-list{
        top:5px;
        left:6%;
    }
    .nav-item{
        float: left;
        margin-left:0.6%;
        height:3%;
        width:16%;
        line-height: 55px;
    }
    .nav-item .me{
        font-size: 1.4em;
    }
    .lists:hover .nav-lable{
        visibility: hidden;
    }
    .circle{
        height:25%; width:53%;
        top:125px; left:22.5%;
        border:rgb(90, 243, 128) solid 5px;
    }
    .shadow{
        height:30%; width:63%;
        top:111px; left:19%;
    }
    .main{
        top:325px; left:-10%;
        width:124%;
        height:auto;
    }
    .main h2,h3{
        font-size: 130%;
    }
    .name{
        font-size:300%;
    }
    .main p{
        font-size: 100%;
    }
    .landt li img{
        width:30%;
        margin-right:auto;
    }
    footer{
        height:7%;
        bottom:-100px;
    }
    .git{
        margin-top:3.5%;
        margin-left:5%;
        height:55%;
        width:40%;
        border-radius: 20px;
        background-color: white;
        line-height:200%;
    }
    .git p{
        color:black;
        margin-left:15%;
        font-size:95%;
    }
    .follow{
        top:30%;
        /* right:0.1%; */
    }
    .follow li{
        margin-right:-1%;
    }
}